*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heading {
  text-align: center;
  font-size: 2rem;
}
.countries {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 20px;
}
.country {
  border: 2px solid sandybrown;
  background-color: azure;
  border-radius: 12px;
  overflow: hidden;
}
.country img {
  height: 250px;
  width: 100%;
  /* border-radius: 10px 10px 0 0; */
}
.cart-body {
  margin: 10px;
}
@media (max-width: 768px) {
  .countries {
    grid-template-columns: repeat(1, 1fr);
  }
}
